:root {
  --clr-one: hsl(158, 36%, 37%);
  --clr-two: hsl(30, 38%, 92%);
  --clr-three: hsl(212, 21%, 14%);
  --clr-four: hsl(228, 12%, 48%);
  --clr-five: hsl(0, 0%, 100%);

  --ff-tacky: "Fraunces";
  --ff-regular: "Montserrat";
}

body {
  font-family: var(--ff-regular);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--clr-four);
  background-color: var(--clr-two);
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 1.1rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
.container {
  overflow-wrap: break-word;
  background-color: var(--clr-five);
  border-radius: 15px;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.price {
  display: flex;
  gap: 1rem;
}
.wrap {
  padding: 1.3rem;
  display: grid;
  gap: 0.4rem;
}

.perfume {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.gabrielle {
  font-family: var(--ff-tacky);
  font-size: 1.9rem;
  color: var(--clr-three);
}
.floral {
  font-weight: 700;
  line-height: 22px;
  color: var(--clr-four);
}

.price {
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
  padding-bottom: 0rem;
  color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
}
.price2 {
  font-size: 20px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  margin-left: 1.7rem;
}
button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: white;
  padding: 17px;
  font-size: 17px;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--ff-regular);
}
.faa {
  margin-right: 1rem;
}
